* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #050301;
}

h1 {
  font-family: poppins;
  font-size: 3.052rem;
}

h2 {
  font-family: poppins;
  font-size: 2.441rem;
}

h3 {
  font-family: poppins;
  font-size: 1.953rem;
}

h4 {
  font-family: poppins;
  font-size: 1.563rem;
}

h5 {
  font-family: poppins;
  font-size: 1.25em;
  line-height: 1.75rem;
}

h6 {
  font-family: poppins;
  font-size: 1rem;
  line-height: 1.75rem;
}

p {
  font-family: "Open Sans";
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.75rem;
  letter-spacing: 0.02rem;
}

.whiteText {
  color: rgba(255, 255, 255, 0.7);
}

.yellowText {
  color: #e9d402de;
}

.mutedTexts {
  font-family: "Open Sans";
  font-size: 0.812em;
}

.mutedText {
  font-family: "Open Sans";
  font-size: 0.812em;
  color: #e9d402de;
  line-height: normal;
}

.removeLineHeight {
  line-height: 0;
}

.offcanvas {
  background-color: #121212;
}

.profilePix {
  border: 0px solid black;
  border-radius: 50px;
}

@media screen and (max-width: 2000px) {
  .offcanvas {
    width: auto;
  }
}
.homeHeroImage {
  background-image: url("../images/heroImages/homeHero.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.activeButton1 {
  background: linear-gradient(90deg, rgba(211, 197, 50, 0.75) 0%, rgba(246, 119, 22, 0.75) 100%);
  color: rgba(255, 255, 255, 0.7);
  min-width: 10%;
}

.activeButton2 {
  background: #050301;
  border: 2px solid #e9d402;
  min-width: 35%;
}

.bg-footer {
  background-color: #121212;
}

.footerCEOText {
  font-family: "Open Sans";
  font-size: 0.812em;
  color: #e9d402de;
  line-height: normal;
}

.formField {
  background-color: rgba(255, 255, 255, 0.09);
  border: none;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .heroContent {
    padding: 130px 0 5rem 35px;
    width: 90%;
  }

  .joinUsBtn {
    width: 100px;
  }

  .CommunityHero {
    background-image: url("../images/heroImages/heroImg.png");
    min-height: 47vh;
  }

  .wideCard {
    max-width: 75%;
  }

  .wideCardImg {
    min-width: 100%;
  }

  .footerSignatureWidth {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
  }

  .subscribeBtn {
    max-width: 40%;
  }

  .alignElements {
    text-align: center;
  }

  .subscribeColumn {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footerSupportColumn {
    margin-top: 40px;
  }

  .centerText {
    text-align: center;
  }

  .footerNavItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .footerNavItem {
    font-size: 0.812em;
    padding-right: 15px !important;
  }
}
@media only screen and (min-width: 768px) {
  .heroContent {
    padding: 140px 0 0 35px;
    width: 55%;
  }

  .joinUsBtn {
    width: 100px;
  }

  .CommunityHero {
    background-image: url("../images/heroImages/heroImg.png");
    background-repeat: no-repeat;
    height: 40vh;
  }

  .wideCard {
    max-width: 75%;
  }

  .wideCardImg {
    min-width: 100%;
  }

  .footerSignatureWidth {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
  }

  .subscribeBtn {
    max-width: 40%;
  }

  .alignElements {
    text-align: center;
  }

  .subscribeColumn {
    margin-top: 15px;
  }

  .footerSupportColumn {
    margin-top: 40px;
  }

  .supportText {
    text-align: center;
  }

  .footerNavItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .footerNavItem {
    font-size: 0.812em;
    padding-right: 15px !important;
  }
}
@media (min-width: 1024px) and (orientation: landscape) {
  .heroContent {
    padding: 140px 0 0 35px;
    width: 40%;
  }

  .joinUsBtn {
    width: 100px;
  }

  .CommunityHero {
    background-image: url("../images/heroImages/heroImg.png");
    height: 70vh;
  }

  .footerSignatureWidth {
    max-width: 35%;
  }

  .footerFormWidth {
    max-width: 75%;
  }

  .footerSupportColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .supportText {
    text-align: start;
  }

  .alignElements {
    text-align: start;
  }

  .footerNavItems {
    flex-direction: column;
  }

  .footerNavItem {
    font-size: 0.812em;
    padding-right: 15px !important;
  }

  .subscribeBtn {
    max-width: 40%;
  }

  .wideCard {
    max-width: 50%;
  }

  .miniWideCard {
    max-width: 40%;
  }
}
.cardOutline {
  border: 1px solid #e9d402de;
  border-radius: 10px;
}

.cardBody {
  background-color: #050301;
}

.circledImage {
  max-width: 20%;
  border-radius: 100%;
}

.memBenefitCard {
  max-width: 50%;
  max-height: 50%;
  border-radius: 50%;
}

.leftSideWideCard {
  background: #050301;
}
/*# sourceMappingURL=styles.css.map */